grepy.class
CreateNFA$Transition.class
CreateNFA$NFA.class
CreateNFA.class
CreateDFA$Transition.class
CreateDFA$DFA.class
CreateDFA.class

# Ignore files with extension `.class`
*.class

#Ignore files with '.txt'
*.txt